<!-- NAVBAR (Boststrap 4) -->

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="/">HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/app/new">NEW APP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">INFO</a>
      </li>
    <!--
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown03">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    -->
    </ul>
    <form class="form-inline my-2 my-md-0 ml-1">
      <input class="form-control" type="text" placeholder="Buscar">
    </form>
    <% if(!user){ %>    <!-- Al no detectar un usuari connectat -->
    <li class="form-inline nav-item my-md-0 ml-1">
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </li>
    <li class="form-inline nav-item my-md-0 ml-1">
      <a href="/users/register" class="btn btn-primary btn-block">Register</a>
    </li>
    <% } else{ %>    <!-- Si hi ha algun usuari connectat -->
    <li class="form-inline nav-item my-md-0 ml-1">
      <a href="/dashboard" class="btn btn-secondary btn-block"><%= user.name %></a>    <!-- Nom d'usuari -->
    </li>
    <li class="form-inline nav-item my-md-0 ml-1">
      <a href="/users/logout" class="btn btn-primary btn-block">Logout</a>
    </li>
    <% } %>
  </div>
</nav>
