<!-- SIDEBAR -->

<div class="d-block row mt-3 text-black border border-dark rounded text-center mw-100" style="background-color: #c2c2c2">
  <h3>Widget Space</h3>
  <p></p>
  <div class="" style="height: 500px;"></div>
</div>
