<!-- Contacte -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/metacss %>
    <title>Contact Page</title>
  </head>
  <body>
    <% include ./partials/navbar %>
    <div class="container border border-dark rounded mt-3" style="background-color: #c2c2c2">
      <h1 class="mt-4">CONTACT</h1>
      <p><strong>Who are?</strong> We are a 3 persons</p>
      <br><br>
      <p><strong>Mail:</strong> info@madati.t</p>
      <% include ./partials/footer %>
    </div>
  </body>
</html>
